  
<app-shell id="appShell"
           account-header-image="[[_accountHeaderImg]]"
           imports="[[_imports]]"
           header-size="1"
           reveal-header
           seo-overlay-ids="[[_seoOverlayIds]]" 
           title="Longlost">

  <!-- top toolbar slot slot="top-toolbar-slot" -->
  
  <!-- bottom toolbar slot slot="bottom-toolbar-slot" -->
  
  <!-- views go here slot="views-slot" -->

  <example-view slot="views-slot" 
                page="view1"
                label="View One">
  </example-view>
  <example-view slot="views-slot" 
                page="view2"
                label="View Two">
  </example-view>
  <example-view slot="views-slot" 
                page="view3" 
                label="View Three">
  </example-view>

  <!-- overlays with menu button go here -->
  <!-- they must have the slot="overlays-slot", label and page attr -->
  <fancy-header-example id="fancy" 
                        icon="app-icons:terrain" 
                        label="Fancy Example" 
                        slot="overlays-slot"
                        page="fancy">
  </fancy-header-example>

</app-shell>
