rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Request is initiated by a user with admin role.
    function isAdmin() {
      return get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.isAdmin == true;
    }
      
    // Only admins.
    match /test/{allPaths=**} {
      allow read, write: if isAdmin();
    }
    
    // Only admins.
    // For app-map.
    match /geolocations/{allPaths=**} {
      allow read, write: if isAdmin();
    }
      
    // Only admins.
    match /users/{userId}/{allPaths=**} {
      allow read, write: if isAdmin();
    }
      
    // Use this rule for regular public apps. Not for testing.
    // Only users can read/write their personal data.
    // match /users/{userId} {
    //   allow read, write: if request.auth.uid == userId;
    // }
    
    // For app-camera.
    match /albums/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
      
  }
}