rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // request is initiated by a user with admin role
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.adminKey == get(/databases/$(database)/documents/keys/adminKey).data.key;
    }
      
    // only admins
    match /test/{allPaths=**} {
      allow read, write: if isAdmin();
    }
      
    // only admins
    match /users/{userId}/{allPaths=**} {
      allow read, write: if isAdmin();
    }
      
    // only users can read/write their personal data
    //match /users/{userId} {
    //  allow read, write: if request.auth.uid == userId;
    //}
    
    // accessed by rules only
    match /keys/{allPaths=**} {
      allow read, write: if false;
    }
      
  }
}
